body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* category dropdown after the navbar */
.categories-option-dropdown p:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.shop-by-category-image-response div img{
  transition: transform 0.5s;
}
.shop-by-category-image-response div img:hover {
  transform: scale(1.1);
  cursor: pointer;
}


.trending-offers-image-response div{
  transition: transform 0.5s;
}
.trending-offers-image-response div div:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.what-people-are-buying-now div{
  transition: transform 0.5s;
}
.what-people-are-buying-now div:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.products-cards-resv{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.filter-brand {
  padding: 30px;
  width: 110%;
}
.filter-brand p {
  border-bottom: 1px solid;
}
.filter-brand ul{
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.sort-by-price-chakra {
  margin-top: 1rem;
}